<%= render 'styles' %>
<%= render 'scripts' %>
<div class="card">
	<div class="card-header">
		<%= form_with model: @document, local: true do |form| %>
			<% if @document.errors.any? %>
			    <div id="error_explanation">
			    	<ul>
				        <% @document.errors.full_messages.each do |msg| %>
				        	<div class="alert alert-danger">
				          		<li><%= msg %></li>
				      		</div>
				        <% end %>
			      	</ul>
			    </div>
			<% end %>
		 	<div class="row">
			 	<div class="col-sm-5">
			    	<%= form.label :title %><br>
			    	<%= form.text_field :title, class: "form-control" %>
				</div>
				<div class="col-sm-4">
				    <%= form.label :category_id %><br>
				    
					<%= form.collection_select(:category_id, @categories, :id, :name, {prompt: "Select a category"}, {class: "form-control"}) %>
				</div>
				<div class="col-sm-3">
					<div class="btn-group" style="margin-top: 25px; width: 100%;">
					    <%= form.submit "Save", class: "btn btn-primary", :style => 'width: 50%;' %>
					    <%= link_to 'Back', documents_path, class: "btn btn-default", :style => 'width: 50%;' %>
					</div>
				</div>
			</div>
			<div>
			    <%= form.text_area :content, { class: "form-control", style: "display: none;" } %>
			</div>
			<div class="text-center" style="margin: 10px 0 10px 0;"><strong>DOCUMENT EDITOR</strong></div>
		  	<div class="row" style="margin-bottom: 20px;">
		  		<div class="col-sm-4">
		  			<select class="form-control ql-insertRef">
						<option value="">Select document</option>
						<% @documentReferences.each do |reference| %>
							<option value="<%= reference.id %>" data-marker="[doc_<%= reference.id %>]" data-title="<%= reference.title %>"><%= reference.title %></option>
						<%end%>
					</select>
		  		</div>	
		  		<div class="col-sm-4">
		  			<select class="form-control ql-insertRef">
						<option value="">Select record</option>
						<% @recordReferences.each do |reference| %>
							<option value="<%= reference.id %>" data-marker="[rec_<%= reference.id %>]" data-title="<%= reference.title %>"><%= reference.title %></option>
						<%end%>
					</select>
		  		</div>	
		  		<div class="col-sm-4">
		  			<select class="form-control ql-insertRef">
						<option value="">Select responsible</option>
						<% @responsibles.each do |reference| %>
							<option value="<%= reference.id %>" data-marker="[res_<%= reference.id %>]" data-title="<%= reference.name %>"><%= reference.name %></option>
						<%end%>
					</select>
		  		</div>	
		  	</div>
		<% end %>
	</div>
	<div class="card-body">
	  	<div class="row" >
	  		<table style="width: 100%;">
	  			<thead>
	  				<th class="col-sm-4 col_toc" style="text-align: center;">
	  					<div>ACTIVITIES LIST</div>
	  				</th>
	  				<th class="col-sm-8">
			            <div id="toolbar">
			                <button id="bold-button" class="ql-bold"><i class="fa fa-bold" aria-hidden="true"></i></button>
			                <button id="italic-button" class="ql-italic"><i class="fa fa-italic" aria-hidden="true"></i></button>
			                <button id="underline-button" class="ql-underline"><i class="fa fa-underline" aria-hidden="true"></i></button>
			                <button id="align-left-button" class="ql-align" value="left" ><i class="fa fa-align-left" aria-hidden="true"></i></button>
			                <button id="align-center-button" class="ql-align" value="center"><i class="fa fa-align-center" aria-hidden="true"></i></button>
			                <button id="align-right-button" class="ql-align" value="right"><i class="fa fa-align-right" aria-hidden="true"></i></button>
			                <button id="align-justify-button" class="ql-align" value="justify"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
			                <button id="activity-button"><i class="fa fa-list-alt" aria-hidden="true"></i></button>
			                <button id="link-button" class="ql-link"><i class="fa fa-link" aria-hidden="true"></i></button>
			                <button id="clean-button" class="ql-clean"><i class="fa fa-minus" aria-hidden="true"></i></button>
			                <button id="toc_hide"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
			            </div>
	  				</th>
	  			</thead>
	  			<tbody>
	  				<tr>
	  					<td class="col-sm-4 col_toc" style="vertical-align: top;"><div id="toc"></div></td>
	  					<td class="col-sm-8">
							<ol style="padding: 0;">
								<div id="content"></div>
							</ol>
	  					</td>
	  				</tr>
	  			</tbody>
	  		</table>
		</div>
	</div>
</div>
