<h1>Listing responsibles</h1>
 
<div class="btn-group">
  <%= link_to 'New responsible', new_responsible_path, class: "btn btn-primary" %>
  <%= link_to 'Home', home_index_path, class: "btn btn-default" %>
</div>
<table class="table table-striped" style="margin-top: 20px;">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
 
  <% @responsibles.each do |responsible| %>
    <tr>
      <td><%= responsible.name %></td>
      <td>
        <%= link_to 'Show', responsible_path(responsible) %>
        <%= link_to 'Edit', edit_responsible_path(responsible) %>
        <%= link_to 'Destroy', responsible_path(responsible),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> 
      </td>
    </tr>
  <% end %>
</table>